name: CI

on: [push, pull_request]

jobs:
  test-java:
    name: Test Java
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: './go.mod'

      - name: Build plugin
        working-directory: plugin
        run: GOOS=wasip1 GOARCH=wasm go build -o ../tests/sqlc-gen-java.wasm

      - name: Update file hash
        working-directory: ./tests
        run: |
          export checksum=$(sha256sum sqlc-gen-java.wasm | awk '{print $1}')
          yq -i '.plugins[0].wasm.sha256 = env(checksum)' sqlc.yaml

      - name: Setup SQLC
        uses: sqlc-dev/setup-sqlc@v4
        with:
          sqlc-version: '1.28.0'

      - name: Generate code
        working-directory: ./tests
        run: sqlc generate

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Run tests
        working-directory: ./tests
        run: ./mvnw -ntp test
